
* {
	box-sizing: border-box;
}
body {
	font-family: "Nunito";
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #000000;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #ffffff;
	font-size: .99em;
}

.main-nav a:hover {
	color: #ffffff;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #000000;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}


#uji{
	position: relative;
	text-align: center;
}
#op{
	font-size: 170%;
	position:absolute;
	bottom: 40px;
	left: 50px;
}
#imagee{
	position: relative;
	text-align: center;
}
#op1{
	font-size: 130%;
	position:absolute;
	bottom: 10px;
	left: 10px;
}
#op1 span {
	background-color: black;
}

.flex-container {
	display: flex;
	opacity: 0;
	
  }
  .flex-container > div {
	
	margin:10px;
	padding: 0px;
  }


  #card {
	
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 50%;
	height: 451px;
	transition: 0.3s;
	background-color: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  #card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  #con {
	padding: 2px 16px;
  }

  #imagee3{
	position: relative;
	text-align: center;
}
#op2{
	font-size: 130%;
	position:absolute;
	bottom: 10px;
	left: 10px;
}
#op2 span {
	background-color: black;
}
  /* #imagee4{
	position: relative;
	text-align: center;
}
#op3 {
	font-size: 130%;
	position:absolute;
	bottom: px;
	left: 55px;
	color: white;
	background-color: black;
  } */
/* .flex-container1{
	display: flex;
	flex-direction: row;
}
.flex-container1 > div {
	margin: 10px;
	padding: 0px;
} */

#card1 {
	position: relative;
	text-align: center;
}

#op3 {
	font-size: 130%;
	position:absolute;
	bottom: 10px;
	left: 10px;
	background-color: #000000;
	color: white;
}

#op4 {
	font-size: 80%;
	position:absolute;
	bottom: 10px;
	left: 3px;
	background-color: #000000;
	color: white;
}




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}




@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


*, *:before, *:after {
	box-sizing: border-box;
  }
  
  html {
	font-size: 100%;
  }
  
  body {
	font-family: acumin-pro, system-ui, sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: 14px;
	background-color: #000000;
	align-items: start;
	min-height: 100vh;
  }
  
  .footer {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 30px 20px 30px;
	color: #2f2f2f;
	background-color: rgb(0, 0, 0);
	border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
	flex:  1 100%;
  }
  
  .footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
  }
  
  .footer__logo {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1.5rem;
  }
  
  .footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
  }
  
  .nav__title {
	font-weight: 400;
	font-size: 15px;
  }
  
  .footer address {
	font-style: normal;
	color: #999;
  }
  
  .footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	max-width: max-content;
	background-color: rgb(33, 33, 33, 0.07);
	border-radius: 100px;
	color: #2f2f2f;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 1rem;
	padding: 0 1.3em;
  }
  
  .footer ul {
	list-style: none;
	padding-left: 0;
  }
  
  .footer li {
	line-height: 2em;
  }
  
  .footer a {
	text-decoration: none;
  }
  
  .footer__nav {
	display: flex;
	  flex-flow: row wrap;
  }
  
  .footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
  }
  
  .nav__ul a {
	color: #999;
  }
  
  .nav__ul--extra {
	column-count: 2;
	column-gap: 1.25em;
  }
  
  .legal {
	display: flex;
	flex-wrap: wrap;
	color: #999;
  }
	
  .legal__links {
	display: flex;
	align-items: center;
  }
  
  .heart {
	color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
	.legal .legal__links {
	  margin-left: auto;
	}
  }
  
  @media screen and (min-width: 40.375em) {
	.footer__nav > * {
	  flex: 1;
	}
	
	.nav__item--extra {
	  flex-grow: 2;
	}
	
	.footer__addr {
	  flex: 1 0px;
	}
	
	.footer__nav {
	  flex: 2 0px;
	}
  }