@import url('https://fonts.cdnfonts.com/css/arcade-classic');
@import url('https://fonts.cdnfonts.com/css/nunito');


* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	letter-spacing: 1px;

    
}
body {
	font-family: 'ArcadeClassic';
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #000000;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #ffffff;
	font-size: .99em;
}

.main-nav a:hover {
	color: #ffffff;
	
}




.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #000000;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}




@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.container {
	margin: 100px;
	display: flex;
	gap: 20px;
}
#tex {
	margin-left: 150px;
}
#tex2 {
	color: white;
	font-size: 20px;
	font-family: 'ArcadeClassic';
}




.card {
	background-image: url('74b15cba6d83f1a7f158ad235a8ee812.gif');
	background-size: cover;
	background-color: grey;
	background-blend-mode: multiply;
	
}
.tui{
	display: grid;
	place-items: center;
}
.tui h1{
	text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(241, 243, 242),
      0 0 82px rgb(241, 243, 242),
      0 0 92px rgb(241, 243, 242),
      0 0 102px rgb(241, 243, 242),
      0 0 151px rgb(241, 243, 242);
	margin-top: 10%;
	color: white;
	font-size: 300%;
}

#topp {
	color: rgb(0, 116, 0); 
	font-family: 'ArcadeClassic'; 
	font-size:100px; 
	border-bottom: 2px solid white;
	text-align: left;
	text-transform: uppercase;
  }
  #topp span {
	display: inline-block;
	animation: slideLeft 1.5s forwards;
	opacity: 0;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .container1 {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px;

}
#i {
	margin: 5px;
}

#h22{
	font-size: 30px;
	margin: 5px;
	text-align: center;
	color: black;

}

  @keyframes slideLeft {
	from {
	  opacity: 0;
	  transform: translateX(200px);
	} 
	to {
	  opacity: 1;
	  transform: translateX(0%);
	}
  }


  #footerr {
    background-image: url('DopeyHideousGelding-max-1mb.gif');
    background-color: rgb(127, 127, 127);
    background-blend-mode: multiply;
	background-size: cover;

}

#smile {
    color: #C2C2C1;
    font-size: 30px;
    text-align: center;
}

#stay{
    margin-top: 10%;
    font-size: 45px;
    text-align: center;
    color: #C2C2C1;
}

#soc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px
}

#container1{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin-left: 5%;
    margin-top: 9%;
}

.txtt {
    font-size: 140%;
    color: white;
    margin-left: 10%;
}
.txtt a {
    color: white;
}

.txtt2 a {
    color: #cfcdcd;
    font-size: 70%;
}
