*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000000;
  position: relative;
  height: 100%;
}

header{
  min-height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
padding: 0 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

header ul{
  list-style-type: none;
  display: flex;
}

header ul .sub{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
  transition: .45;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: medium;
}
@font-face {
  font-family: Zendots;
  src: url(ZenDots-Regular.ttf);
  }
header .logo{
  align-items: left;
  float: left;
  justify-content: last baseline;
  border-bottom: 2px solid #fff;
  font-family: Zendots;
}

@font-face {
  font-family: Cavaet-Bold;
  src: url(Caveat-Bold.ttf);
}

header h2{
  font-family: 'Cavaet-Bold', sans-serif;
  font-size: 40px;
}
.switcher{
position: absolute;
visibility: hidden;
left: -9999px;
}
header label{
font-size: 30px;
cursor: pointer;
display: none;
}

header ul{
list-style-type: none;
display: flex;
}

header .sub{
display: flex;
text-transform: uppercase;
text-decoration: none;
padding: 0 10px;
margin-top: 10px;
transition: .45;
}

.sub:hover{
color: #3498db;
transform: scale(1.2);
text-decoration: overline;

}

.register{
  text-transform: uppercase;
  color: #fff;
  background-color: #3498db;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}
.logo{
letter-spacing: 10px;
font-size: 50px;
font-family: Zendots;
} 

.home{
background-color: #0c32d9;
border-radius: 10px;
font-size: 20px;
padding: 5px;
color: rgb(255, 255, 255);
text-transform: uppercase;
}  

.animate_way{
width: 100%;
height: 100%;
margin-top: 40px;
}

.question{
margin-top: 30px;
text-align: center;
color: white;
}

.photo{
width: 400px;
height: 400px;
}

.photo_0{
width: 400px;
height: 400px;
}

.left{
background-color: #3498db;
border-radius: 4px;
width: 100px;
height: 50px;

}

.right{
background-color: #3498db;
border-radius: 4px;
width: 100px;
height: 50px;
}
.discuss{
display: flex;
}

.info{
color: white;
padding: 60px;
}

.photo4{
width: 100%;
}

.collapsible {
background-color: rgb(0, 0, 0);
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #3498db;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #000000;
color: white;
margin: 40px 0;
}
#candy {
position: relative;
cursor: pointer;
}

@media screen and (max-width: 800px){
.open,
.close{
display: block;
}

.close{
position: absolute;
top: 40px;
right: 40px;
}

.switcher:checked ~ nav{
right: 0;
}

nav{
position: fixed;
width: 100%;
height: 100vh;
background: linear-gradient(180deg, #000000, #3498db);
right: -100%;
top: 0;
text-align: center;
padding: 100px 0;
transition: .75;
}

ul{
flex-direction: column;
justify-content: center;
text-align: center;
padding: 100px 0 0 300px;
}

ul a{
padding: 20px;
}
ul a:hover{
background-color: rgba(255, 255, 255, .03);
}

.discuss{
display: flex;
flex-direction: column;
margin-left: 140px;
}
}


.swipe {
background: #eee;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
margin: 0;
padding: 0;
position: relative;
height: 100%;
}

.swiper {
width: 100%;
height: 100%;
background: #000;
}

.swiper-slide {
font-size: 18px;
color: #fff;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 40px 60px;
}

.parallax-bg {
position: absolute;
left: 0;
top: 0;
width: 130%;
height: 100%;
-webkit-background-size: cover;
background-size: cover;
background-position: center;
}

.swiper-slide .title {
font-size: 41px;
font-weight: 300;
}

.swiper-slide .subtitle {
font-size: 21px;
}

.swiper-slide .text {
font-size: 14px;
max-width: 400px;
line-height: 1.3;
}


#footerr {
background-image: url('kosmos-1920x1080-zvezdi-17066.jpeg');
background-color: rgb(59, 58, 58);
background-blend-mode: multiply;

}

#smile {
color: #C2C2C1;
font-size: 30px;
text-align: center;
}

#stay{
margin-top: 10%;
font-size: 45px;
text-align: center;
color: #C2C2C1;
}


#soc {
margin-top: 10px;
display: flex;
justify-content: center;
gap: 30px
}

#container1{
display: flex;
/* flex-wrap: wrap; */
flex-direction: row;
margin-left: 5%;
margin-top: 9%;
}

.txtt {
font-size: 140%;
color: white;
margin-left: 10%;
}
.txtt a {
color: white;
text-decoration: none;
}
.txtt ul{
list-style-type: none;

}

.txtt2 a {
color: #cfcdcd;
font-size: 70%;
}

.footer {
display: flex;
flex-flow: row wrap;
padding: 30px 30px 20px 30px;
color: #2f2f2f;
background-color: rgb(0, 0, 0);
border-top: 1px solid #e5e5e5;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  .footer__logo {
  font-family:'ZenDots-Regular';
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  color:#e5e5e5
  }
  
  .footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  }

  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    }

      
.footer__nav {
  display: flex;
    flex-flow: row wrap;
    list-style-type: none;
  }

.wiki{
 color: white;
 margin: 50px 0; 
text-align: center;
font-size: 50px;
font-family: Zendots;
}

.infor{
color: white;
font-family: Zendots;
}

.nav__item{
list-style-type: none;
}

.nav__item a{
text-decoration: none;
color: white;
margin-bottom: 10px;
}

.nav__item.nav__item--extra{
text-decoration: none;
color: white;
margin-bottom: 10px;
list-style-type: none;
}

.nav__ul.nav__ul--extra{
list-style-type: none;
}