* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
	font-family: "Nunito";
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #000000;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #ffffff;
	font-size: .99em;
}

.main-nav a:hover {
	color: #ffffff;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #000000;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}


#ui{
    margin: 3%;
    color: white;
    text-align: center;
}



  .wrapper{
    width: 100%;
  }
  .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
  }
  .carousel .card{
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    /* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */
  }
 
  .owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  .owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #0072bc!important;
  }








@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}




@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



#carta{
    background-color: rgb(226, 225, 225);
    margin-top:13%;
    width: 100;
    
}

#ttext {
    text-align: center;
}

#container{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin-left: 15%;
    margin-top: 2%;
}

#carta1 {
    width: 280px;
    height:400px;
    color: white;
    
    background-color: #2A2B2D;
}
.txt {
    margin: 10%;
}
#vid {
    margin-left: -50px;
}

#footerr {
    background-image: url('kosmos-1920x1080-zvezdi-17066.jpeg');
    background-color: rgb(59, 58, 58);
    background-blend-mode: multiply;

}

#smile {
    color: #C2C2C1;
    font-size: 30px;
    text-align: center;
}

#stay{
    margin-top: 10%;
    font-size: 45px;
    text-align: center;
    color: #C2C2C1;
}

#soc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px
}

